<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath*:META-INF/cxf/cxf.xml" />
	<import resource="classpath*:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath*:META-INF/cxf/cxf-servlet.xml" />
	<import resource="classpath*:services-config.xml" />
	
	<!--  Needed because of keywordservice dependency -->
	<import resource="classpath*:format-processors.xml" />
	<import resource="classpath*:text-processors.xml" />
	
	<jaxws:endpoint id="VocabularyService_VocabularyServiceIntService"
		implementor="#metaservice.vocabularyServiceIntService"
		address="/VocabularyService" />
</beans>